---
import { Image } from 'astro:assets';
import MenuIcon from '../assets/images/menu-icon-3.svg';
import ArrowRightIcon from '../assets/images/arrow-rigth-icon.svg';
---

<header class="w-full max-w-7xl mx-auto h-16 fixed top-0 bg-white flex items-center justify-between px-4">
    <h1 class="font-semibold font-inter text-2xl">AD SEO</h1>
    <button id="menu" class="md:hidden">
        <Image src={MenuIcon} alt="Menu Icon" width="40" height="40"/>
    </button>
    <nav class="hidden fixed top-16 right-0 bg-white w-full md:static md:w-auto md:top-0 flex flex-col md:flex-row md:items-center items-start gap-8 p-4 md:p-0 shadow-md md:shadow-none text-lg transition-all duration-300 ease-in-out opacity-0 translate-y-4 md:opacity-100 md:translate-y-0" id="main-nav">
        <a class="w-full md:w-fit flex justify-between align-center" href="#">
            <p class="uppercase md:capitalize">Home</p>
            <Image class="md:hidden" src={ArrowRightIcon} alt="Arrow Right Icon" width="24" height="24"/>
        </a>
        <a class="w-full md:w-fit flex justify-between align-center" href="#">
            <p class="uppercase md:capitalize">Services</p>
            <Image class="md:hidden" src={ArrowRightIcon} alt="Arrow Right Icon" width="24" height="24"/>
        </a>
        <a class="w-full md:w-fit flex justify-between align-center" href="#">
            <p class="uppercase md:capitalize">Why Us</p>
            <Image class="md:hidden" src={ArrowRightIcon} alt="Arrow Right Icon" width="24" height="24"/>
        </a>
        <a class="w-full md:w-fit flex justify-between align-center" href="#">
            <p class="uppercase md:capitalize">FAQs</p>
            <Image class="md:hidden" src={ArrowRightIcon} alt="Arrow Right Icon" width="24" height="24"/>
        </a>
        <a class="w-full md:w-fit flex justify-between align-center" href="#">
            <p class="uppercase md:capitalize">Contact</p>
            <Image class="md:hidden" src={ArrowRightIcon} alt="Arrow Right Icon" width="24" height="24"/>
        </a>
    </nav>
</header>
<script is:inline>
    const menuBtn = document.getElementById('menu');
    const nav = document.getElementById('main-nav');

    menuBtn?.addEventListener('click', () => {
        nav.classList.toggle('hidden');
        nav.classList.toggle('opacity-0');
        nav.classList.toggle('translate-y-4');
        nav.classList.toggle('opacity-100');
        nav.classList.toggle('translate-y-0');
    });
</script>